/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container img {
			display: none;
		}
		.content {
			padding: 5px 0px 0px !important;
		}
		#slider {
			margin-bottom: 30px !important;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.container img {
			display: none;
		}
		.content {
			padding: 5px 0px 0px !important;
		}
		#slider {
			margin-bottom: 30px !important;
		}
	}

/* #Fonts
================================================== */

@font-face {
    font-family: "HPSimplified";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/hps-euro-w02-bold-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps-euro-w02-bold-woff.woff") format("woff"), url("../fonts/hps-euro-w02-bold-ttf.ttf") format("truetype");
}

@font-face{
	font-family:'HPSimplified';
	src:url("../fonts/latin-e-regular-eot.eot");
	src:url("../fonts/latin-e-regular-eot.eot?#iefix") format("embedded-opentype"),url("../fonts/latin-e-regular-woff.woff") format("-woff.woff"),url("../fonts/latin-e-regular-ttf.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}